@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Orbitron&family=Rajdhani&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Rajdhani, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

header {
    /*position: fixed;*/
    height: 100px;
    background-color: #667c8a;
    width: 100%;
    z-index: 1;
}

h1 {
    font-family: Michroma, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 150%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and hero-text */

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image1.jpg') no-repeat center center; 
    background-size: cover;
    position: relative;
}

#hero-text {
    color: #3a3a3a;
    font-family: Michroma, sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* About us */

#about-us {
    height: 600px;
}

#about-us-heading {
    font-family: Michroma, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
    text-align: center;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    height: 90%;
    float: left;
    background-color: #c5b494;
    text-align: right;

}

#right-about {
    padding-top: 30px;
    width: 33%;
    height: 90%;
    float: right;
    background-color: #667c8a;
    text-align: left;
}

#center-about {
    padding-top: 30px;
    width: 33%;
    height: 90%;
    margin: 0 auto;
    background-color: #ecf5f9;
    text-align: center;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

/* Diagnostic scan area */

#scan {
    background-image: url('../images/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#scan-heading {
    font-family: Michroma, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
    text-align: center;
}

#scan div {
    color: #ecf5f9;
    background-color: rgba(152, 137, 69, .6);
    width: 25%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid #ecf5f9;
    box-sizing: border-box;
}

#scan h2 {
    color: #252525;
}

#scan h3 {
    color: #ecf5f9;
}

/* footer */

footer {
    bottom: 0;
    height: 150px;
    width: 100%;
    background-color: #667c8a;
}

footer h2 {
    font-size: 150%;
    color: #ecf5f9;
    padding-top: 40px;
    text-align: center;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 1%;
    color: #ecf5f9
}

/* services */

.services {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}